In [1]:
from scipy.io import arff
import pandas as pd

In [9]:
data=arff.loadarff(r'C:\Users\10295\Desktop\data\4year.arff')
df=pd.DataFrame(data[0])

In [12]:
df['bankruptcy']=(df['class']==b'1')

In [14]:
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class,bankruptcy
0,0.159290,0.46240,0.07773,1.1683,-44.853,0.467020,0.189480,0.82895,1.1223,0.38330,...,0.41557,0.89101,0.001422,7.7928,4.9914,119.810,3.0465,3.0560,b'0',False
1,-0.127430,0.46243,0.26917,1.7517,7.597,0.000925,-0.127430,1.16250,1.2944,0.53757,...,-0.23704,1.06250,0.150410,5.4327,3.4629,100.970,3.6150,3.4725,b'0',False
2,0.070488,0.23570,0.52781,3.2393,125.680,0.163670,0.086895,2.87180,1.0574,0.67689,...,0.10413,0.94571,0.000000,7.1070,3.3808,76.076,4.7978,4.7818,b'0',False
3,0.136760,0.40538,0.31543,1.8705,19.115,0.504970,0.136760,1.45390,1.1144,0.58938,...,0.23203,0.89737,0.073024,6.1384,4.2241,88.299,4.1337,4.6484,b'0',False
4,-0.110080,0.69793,0.18878,1.2713,-15.344,0.000000,-0.110080,0.43282,1.7350,0.30207,...,-0.36440,0.57153,0.000000,18.8010,2.7925,146.390,2.4934,15.0360,b'0',False

In [125]:
df.describe()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
count,9792.000000,9792.000000,9792.000000,9792.000000,9.792000e+03,9792.000000,9792.000000,9792.000000,9792.000000,9792.000000,...,9.792000e+03,9792.000000,9792.000000,9792.000000,9792.000000,9792.000000,9792.000000,9.792000e+03,9792.000000,9792.000000
mean,0.043019,0.596404,0.130959,8.136600,6.465164e+01,-0.059273,0.059446,19.884016,1.882296,0.389040,...,7.686330e+03,-0.992263,0.035022,1.133287,0.856053,118.156064,25.194430,2.015157e+03,8.660813,35.949619
std,0.359303,4.586887,4.558841,290.008348,1.474355e+04,6.812406,0.533317,698.018755,17.674650,4.590064,...,7.605261e+04,76.925343,8.944908,8.031631,26.391957,3127.389272,1097.462990,1.170204e+05,60.704460,477.583101
min,-12.458000,0.000000,-445.910000,-0.045319,-3.794600e+05,-486.820000,-12.458000,-1.848200,-0.032371,-445.910000,...,-7.132200e+05,-7522.100000,-597.420000,-30.892000,-284.380000,0.000000,-12.656000,-1.496500e+04,-0.024390,-0.000015
25%,0.001322,0.263163,0.020384,1.048500,-5.100925e+01,-0.000591,0.003005,0.428932,1.006675,0.294510,...,2.184000e+01,0.002797,0.008781,0.886158,0.000000,5.557450,4.272550,4.328575e+01,2.948850,2.049375
50%,0.041374,0.467770,0.199290,1.598750,0.000000e+00,0.000000,0.048840,1.092450,1.161300,0.510435,...,9.503300e+02,0.043406,0.098026,0.958440,0.002138,10.253000,6.297050,7.494250e+01,4.870050,4.179500
75%,0.111125,0.689183,0.410635,2.917825,5.626250e+01,0.065245,0.126930,2.701450,1.970225,0.714285,...,4.694550e+03,0.117018,0.242615,0.996300,0.212020,24.102250,9.982775,1.237625e+02,8.424000,10.337500
max,20.482000,446.910000,22.769000,27146.000000,1.034100e+06,322.200000,38.618000,53209.000000,1704.800000,12.602000,...,6.123700e+06,112.020000,226.760000,668.750000,1661.000000,251570.000000,108000.000000,1.077900e+07,5662.400000,21153.000000

In [19]:
sum(df.bankruptcy==True)

515

In [67]:
df1=df[['Attr1','Attr2','Attr7','Attr10','class']]#Create a new dataframe with only 4 feataures

In [73]:
df1.columns=['x1','x2','x7','x10','class','bankruptcy']

In [123]:
df1.describe()

                x1           x2           x7          x10
count  9792.000000  9792.000000  9792.000000  9792.000000
mean      0.043019     0.596404     0.059446     0.389040
std       0.359303     4.586887     0.533317     4.590064
min     -12.458000     0.000000   -12.458000  -445.910000
25%       0.001322     0.263163     0.003005     0.294510
50%       0.041374     0.467770     0.048840     0.510435
75%       0.111125     0.689183     0.126930     0.714285
max      20.482000   446.910000    38.618000    12.602000

In [126]:
df1.head()

         x1       x2        x7      x10 class  bankruptcy
0  0.159290  0.46240  0.189480  0.38330  b'0'       False
1 -0.127430  0.46243 -0.127430  0.53757  b'0'       False
2  0.070488  0.23570  0.086895  0.67689  b'0'       False
3  0.136760  0.40538  0.136760  0.58938  b'0'       False
4 -0.110080  0.69793 -0.110080  0.30207  b'0'       False

In [127]:
for column in list(df.columns[df.isnull().sum() > 0]):
    mean_val = df[column].mean()
    df[column].fillna(mean_val, inplace=True)#Fill-in the missing values na with the mean

In [128]:
df.describe()#Fill-in the missing values na with the mean   all the count=9792

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
count,9792.000000,9792.000000,9792.000000,9792.000000,9.792000e+03,9792.000000,9792.000000,9792.000000,9792.000000,9792.000000,...,9.792000e+03,9792.000000,9792.000000,9792.000000,9792.000000,9792.000000,9792.000000,9.792000e+03,9792.000000,9792.000000
mean,0.043019,0.596404,0.130959,8.136600,6.465164e+01,-0.059273,0.059446,19.884016,1.882296,0.389040,...,7.686330e+03,-0.992263,0.035022,1.133287,0.856053,118.156064,25.194430,2.015157e+03,8.660813,35.949619
std,0.359303,4.586887,4.558841,290.008348,1.474355e+04,6.812406,0.533317,698.018755,17.674650,4.590064,...,7.605261e+04,76.925343,8.944908,8.031631,26.391957,3127.389272,1097.462990,1.170204e+05,60.704460,477.583101
min,-12.458000,0.000000,-445.910000,-0.045319,-3.794600e+05,-486.820000,-12.458000,-1.848200,-0.032371,-445.910000,...,-7.132200e+05,-7522.100000,-597.420000,-30.892000,-284.380000,0.000000,-12.656000,-1.496500e+04,-0.024390,-0.000015
25%,0.001322,0.263163,0.020384,1.048500,-5.100925e+01,-0.000591,0.003005,0.428932,1.006675,0.294510,...,2.184000e+01,0.002797,0.008781,0.886158,0.000000,5.557450,4.272550,4.328575e+01,2.948850,2.049375
50%,0.041374,0.467770,0.199290,1.598750,0.000000e+00,0.000000,0.048840,1.092450,1.161300,0.510435,...,9.503300e+02,0.043406,0.098026,0.958440,0.002138,10.253000,6.297050,7.494250e+01,4.870050,4.179500
75%,0.111125,0.689183,0.410635,2.917825,5.626250e+01,0.065245,0.126930,2.701450,1.970225,0.714285,...,4.694550e+03,0.117018,0.242615,0.996300,0.212020,24.102250,9.982775,1.237625e+02,8.424000,10.337500
max,20.482000,446.910000,22.769000,27146.000000,1.034100e+06,322.200000,38.618000,53209.000000,1704.800000,12.602000,...,6.123700e+06,112.020000,226.760000,668.750000,1661.000000,251570.000000,108000.000000,1.077900e+07,5662.400000,21153.000000

In [129]:
df2=df1.loc[df1['bankruptcy']==True] # bankrupt companies 
df3=df1.loc[df1['bankruptcy']==False] # still-operating companies

In [130]:
df1.describe().iloc[1:3]#the mean and std of the 4 features among all

            x1        x2        x7       x10
mean  0.043019  0.596404  0.059446  0.389040
std   0.359303  4.586887  0.533317  4.590064

In [131]:
df2.describe().iloc[1:3]#the mean and std of the 4 features among  bankrupt  companies

            x1        x2        x7       x10
mean -0.068873  0.878355 -0.061538  0.103367
std   0.568076  1.945596  0.568432  1.946747

In [132]:
df3.describe().iloc[1:3]#the mean and std of the 4 features among  still-operating companies

            x1        x2        x7       x10
mean  0.049231  0.580752  0.066162  0.404899
std   0.343002  4.689694  0.530524  4.692934

In [133]:
sum((df1.x1<(0.043019-0.359303))&(df1.x10<(0.389040-4.590064)))#How many companies have X1 values 1 std below the mean

15

In [134]:
df0=df1.loc[(df1.x1<(0.043019-0.359303))&(df1.x10<(0.389040-4.590064))]
df0

           x1       x2       x7      x10 class  bankruptcy
2312 -1.09270   5.6368 -1.09270  -4.6368  b'0'       False
2608 -3.72310  11.5300 -3.64240 -10.5300  b'0'       False
3017 -1.94800  25.0050 -1.94800 -24.0050  b'0'       False
3739 -0.72685   6.9334 -0.72685  -5.9334  b'0'       False
4767 -5.96550   6.6818 -5.96550  -5.6818  b'0'       False
5001 -3.28450  20.4030 -3.28450 -19.4030  b'0'       False
5259 -0.44000  16.4870 -0.44000 -15.4870  b'0'       False
5859 -0.32841   6.1187 -0.32841  -5.1187  b'0'       False
6264 -0.72755   5.2632 -0.72755  -4.2632  b'0'       False
7846 -1.98410  13.0630 -1.98410 -12.4730  b'0'       False
8405 -9.29810   9.6992 -9.29810  -8.6992  b'0'       False
8535 -1.37430   5.7326 -1.37430  -4.7326  b'0'       False
9584 -4.05060   6.5306 -4.05060  -5.5306  b'1'        True
9587 -0.65997  40.1570 -0.65997 -39.1560  b'1'        True
9662 -1.32900  15.0190 -1.32900 -14.0190  b'1'        True

In [135]:
sum(df0['bankruptcy']==True)/15

0.2